[Unit]
Description=Tacacs+ server
After=network-online.target

[Service]
Type=forking
PIDFile=/etc/tacacs/tac_plus.pid
ExecReload=/bin/kill -HUP $(cat /etc/tacacs/tac_plus.pid)
ExecStart=/usr/local/bin/tac_plus -C /etc/tacacs/tac_plus.conf -d 256 & echo $! > /etc/tacacs/tac_plus.pid
ExecStop=/bin/kill $(cat /etc/tacacs/tac_plus.pid)
ExecRestart=/bin/kill $(cat /etc/tacacs/tac_plus.pid) && /usr/local/bin/tac_plus -C /etc/tacacs/tac_plus.conf -d 256 & echo $! > /etc/tacacs/tac_plus.pid

[Install]
WantedBy=network-online.target



